.chat {
    width: 250px;
}

.message-history {
    height: 500px;
    width: 250px;
    border: 1px solid #bbb;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 1.5;
    overflow-y: scroll;
}

.message-history .message {
    padding: .5em;
}

.message-history .message:nth-child(2n) {
    background: #f1f1f1;
}

.message-ui {
    margin-top: .5em;
    height: 50px;
    position: relative;
}

.message-ui .message-box {
    height: 2em;
    padding: .5em;
    width: 215px;
    border: 1px solid #ccc;
}

.message-ui .message-box:focus {
    outline: none;
    border: 1px solid #888;
}

.message-ui .send-message img {
    position: absolute;
    right: 0;
    top: .12em;
    height: 1.4em;
}

.message-ui .send-message img:hover {
    filter: brightness(50%);
    cursor: pointer;
}