.add-user {
  width: 250px;
}

.add-user form {
  margin-bottom: 0;
}

.applications {
  padding: 1em;
  border: 1px solid #ccc;
  width: 510px;
  margin-bottom: 2em;
}

.manage {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 1.5;
}

.manage input[type=text] {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  padding: .25em;
  border: 1px solid #ccc;
  margin-bottom: .5em;
  width: 100%;
}

.manage .add-user input[type=text] {
  width: 100%;
}

.manage input[type=submit] {
  width: 80px;
  padding: .125em;
}

.manage input[type=submit]:hover {
  background: #eee;
  cursor: pointer;
}

.manage .left {
  text-align: left;
}

.manage input[type=submit] {
  background: none;
  border: 1px solid #ccc;
}

.manage #no-apps-message {
  width: 100%;
  text-align: center;
}

.manage .user-app {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 1em;
  border-top: 1px solid #ccc;
}

.manage .user-app .user-app-desc {
  max-width: 300px
}

.manage .user-app input[type=submit] {
  margin-top: 0;
  margin-right: .5em;
}

.manage input[type=date] {
  border: 1px solid #ccc;
}

.manage input[type=date],
.manage input[type=time] {
  margin-top: .5em;
}

.manage input[type=text]:focus,
.manage input[type=password]:focus,
.manage input[type=submit]:focus,
.manage input[type=date]:focus,
.manage input[type=time]:focus,
.manage input[type=file]:focus,
.manage select:focus {
  outline: none;
  border: 1px solid #888;
}

.manage input[type=file] {
  max-width: 200px;
}

.manage input[type=file]:focus,
.manage input[type=checkbox]:focus {
  outline: none;
}

.manage input[type=date] {
  font-family: 'Arial';
  padding: .125em;
  padding-left: .5em;
  width: 135px;
}

.manage select {
  background: none;
  border: 1px solid #ccc;
  font-family: 'Arial';
  padding: .125em;
  padding-left: .5em;
  padding-right: 2em;
  background-image: url(img/zondicons/cheveron-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: .5em;
  max-width: 200px;
}

.manage .create-event {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.manage .create-event form {
  margin: 0;
  padding: 0;
}

.manage .create-event .create-event-cell  {
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid #ccc;
}

.manage .create-event .create-event-cell:nth-child(4) {
  border-right: none;
}

.manage .create-event .span3 {
  grid-column-start: 1;
  grid-column-end: 4;
  border: none;
}

.manage .create-event .top-margin {
  margin-top: 2em;
}

.manage .create-event .underline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: .5em;
}

.manage .create-event label {
  display: block;
}

.manage .create-event .event-setting {
  margin-top: 1em;
}

.manage .create-event #event-name {
  max-width: 510px;
  font-size: 16px;
  padding: .25em;
}

.manage #event-participants {
  left: 0;
}

.manage #event-participants li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.manage .create-event input[type=checkbox] {
  position: relative;
  top: 2px;
}

.manage #event-attachments {
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: .5em;
}

.manage ol li {
  margin-left: 1.8em;
  padding: 0;
}

.center {
  text-align: center;
}

.manage .add-user,
.manage .create-event
{
  margin-bottom: 2em;
}

.manage .create-event,
.manage .applications,
.manage .add-user
{
  padding: 1em;
  border: 1px solid #ccc;
}