html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

tt, pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

html {
  padding: 0;
  margin: 0;
}
  
body {
  width: 740px;
  margin: 56px auto 28px auto ;
  background: white; 
  color: #2e3436;
  position: relative;
  display: none;
  /*transition: all 0.5s;*/
}

blockquote {
  border-left: solid 2px #2e3436;
  padding-left: 1em;
  margin-left: 0px;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

a:link { color: #204a87 }
a:active { color: #a40000 }
a:visited { color: #5c3566 }

a.menu-item {
  font-weight: bold;
  text-decoration: none;
  padding: 1ex 1em;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.menu a.menu-item:hover { background: #729fcf; }
a.menu-item:link { background: #3465a4; }
a.menu-item:active { background: #3465a4; }
a.menu-item:visited { background: #3465a4; }

h1.title {
  text-align: center;
  color: #3465a4;
  font-weight: normal;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  min-height: calc(2ex + 14px);
  text-align: center;
  background: #3465a4;
}

.logo {
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  font-style: italic;
  max-height: calc(2ex + 14px);
  padding: auto 2em;
  color: white;
  display: inline-block;
  text-align: center;
  color: white;
}

.footer {
  color: #888a85;
  border-top: solid 2px #888a85;
  margin-top: 4ex;
  padding-top: 2ex;
}

.login-form {
  width: 285px;
  margin: 0 auto;
}

.login-form input {
  margin-bottom: 5px;
}

#server-message {
  text-align: left;
  margin-bottom: 3px;
}

input[type=radio] {

} 

input[type=text] {
  padding: 5px;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
}

input[type=password] {
  padding: 5px;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 5px 15px; 
  background: #eeeeee; 
  border: none;
  cursor: pointer;
  height: 32px;
}

input[type=submit]:hover {
  background: #dddddd;
}

textarea {
  display: block;
  margin: 0 auto;
  resize: none;
  margin-bottom: 15px;
}

#publish {
  display: none;
}

#newsfeed {
  width: 100%;
  height: auto;
}

.article {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.article .article-header {
  padding-top: 5px;
  text-align: right;
  color: #bbbbbb;
}

.login-form .radio-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-item .dropdown {
  position: absolute;
  top: 34px;
  display: none;
}

.dropdown .item {
  width: 100%;
  cursor: pointer;
  background: #3465a4;
  font-weight: bold;
  text-decoration: none;
  padding: 1ex 1em;
  color: white;
  text-align: left;
  position: relative;
  right: 1em;
}

.dropdown .item:hover { background: #729fcf; } 
.dropdown .item:active { background: #3465a4; } 
.dropdown .item:link { background: #3465a4; } 

#applications {
  width: 100%;
  min-height: 200px;
  /*border: 1px dotted #eeeeee;*/
}

#applications .content {
  border: 1px solid #eeeeee;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  /*border-bottom: 1px solid #eeeeee;*/
}

#applications .content .field {
  width: 100px;
  text-align: left;
  display: inline-block;
}

#applications .content .value {
  width: 100px;
  float: right;
  text-align: right;
  display: inline-block;
}

#applications .content input[type=submit] {
  margin-top: 15px;
  width: 40%;
}

#applications .content input[type=submit]:last-child {
  float: right;
}

#manage-link {
  display: none;
}

.article .article-header a {
  /*display: none;*/
}

.article .article-header a:hover { color: #dddddd; } 
.article .article-header a:active { color: #bbbbbb; } 
.article .article-header a:visited { color: #bbbbbb; } 
.article .article-header a:link { color: #bbbbbb; } 
